// -------------------------
// Helpers
// -------------------------

._unmargin {
	margin: 0!important;
}

._align-center {
	text-align: center!important;
}

._align-left {
	text-align: left!important;
}

._align-right {
	text-align: right!important;
}

._to-right {
	float: right!important;
}

._to-left {
	float: left!important;
}
