// -------------------------
// Content block - Component
// -------------------------

.button {
  & {
    border-radius: 2px;
    color: light-color;
    pxtorem(padding, (base-space/2));
  }

  &.-darker {
    background-color: dark-color;
  }
}
