// -------------------------
// Content block - Component
// -------------------------

.content-block {
  & {
    background-color: quaternary-color;
    border-radius: 2px;
    border: solid 1px primary-color;
    clear: fix;
    pxtorem(padding, base-space);
    pxtorem(fs, 16px);
  }

  > .banner {
    text-align: center;
  }

  > .title {
    margin: convertpxtorem(base-space) 0;
    pxtorem(fs, 25px);
  }

  > .description > p {
    &:first-of-type {
      margin-top: 0;
    }
  }

  > .button {
    float: left;
  }
}
