// -------------------------
// Content block - Component
// -------------------------

.content-block {
	& {
		background-color: quaternary-color;
		border: solid 1px primary-color;
		clear: fix;
		pxtorem(fs, 16px);
		pxtorem(padding, base-space);
	}

	> .banner {
		text-align: center;
	}

	> .title {
		margin: convertpxtorem(base-space) 0;
		pxtorem(fs, 25px);
	}

	> .description > p {
		&:first-of-type {
			margin: 0 0 base-space;
		}
	}

	> .button {
		float: left;
	}
}
