// -------------------------
// Functions
// -------------------------

// Convert px to REM
// -------------------------
pxtorem(prop, value) {
	{prop}: unit(value, px);
	{prop}: unit((value / base-font-size), rem);
}

convertpxtorem(value) {
	return unit((value / base-font-size), rem);
}

// Convert px to EM
// -------------------------
pxtoem(prop, value) {
	{prop}: unit((value / base-font-size), em);
}

convertpxtoem(value) {
	return unit((value / base-font-size), em);
}
