// -------------------------
// Variables
// -------------------------

// Properties alias
@alias {
	ff: font-family
	fs: font-size
	fw: font-weight
}

// Media Queries
rupture.scale = 0 480px 768px 1200px

// Colors
colorHeading =	#555
colorText =	#777
colorLink =	#999
colorFeatured =	#000

// Layout Colors
primaryColor = #ccc
secondaryColor = #ddd
tertiaryColor = #eee
quaternaryColor = #fff

// Box Model
containerWidth = 94%
space =	20px
doubleSpace = (space * 2)
