// -------------------------
// Animation
// -------------------------

@keyframes animationExample {
	
	from {
		background white
	}
	
	to {
		background black
	}
}


// Example
// -------------------------
.element
	animation animationExample 1s 4 infinite ease-in-out
