{% block metatags %}
	
	<!-- Metadados-->
	<meta name="language" content="pt-br">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="contact" content="junior.milson17@gmail.com">
	<meta name="author" content="Milson Júnior">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ description }}">
	<meta name="keywords" content="{{ keywords }}">
	<meta name="robots" content="index, follow">
	
	<!-- Metadados - Facebook / Open Graph-->
	<meta property="fb:app_id" content="">
	<meta property="og:title" content="{{ title }}">
	<meta property="og:description" content="{{ description }}">
	<meta property="og:site_name" content="{{ title }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ host }}/{{ page }}/index.html">
	<meta property="og:image" content="{{ host }}/{{ "../assets/" if page else "assets/" }}images/logo.png">
	
	<!-- Metadados - Twitter / Open Graph-->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@project">
	<meta name="twitter:title" content="{{ title }}">
	<meta name="twitter:description" content="{{ description }}">
	
	<!-- Metadados - Google+ / Schema.org-->
	<meta itemprop="name" content="{{ title }}">
	<meta itemprop="description" content="{{ description }}">
	
	<!-- Favicon-->
	<link rel="shortcut icon" href="{{ "../assets/" if page else "assets/" }}images/favicon/favicon.ico" type="image/x-icon">
	
	<!-- Apple Touch Icons-->
	<link rel="apple-touch-icon" href="{{ "../assets/" if page else "assets/" }}images/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="{{ "../assets/" if page else "assets/" }}images/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ "../assets/" if page else "assets/" }}images/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ "../assets/" if page else "assets/" }}images/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ "../assets/" if page else "assets/" }}images/favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ "../assets/" if page else "assets/" }}images/favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ "../assets/" if page else "assets/" }}images/favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ "../assets/" if page else "assets/" }}images/favicon/apple-touch-icon-152x152.png">
	
	<!-- Windows 8-->
	<meta name="application-name" content="{{ title }}">
	<meta name="msapplication-TileColor" content="#000">
	<meta name="msapplication-square70x70logo" content="{{ "../assets/" if page else "assets/" }}images/favicon/smalltile.png">
	<meta name="msapplication-square150x150logo" content="{{ "../assets/" if page else "assets/" }}images/favicon/mediumtile.png">
	<meta name="msapplication-wide310x150logo" content="{{ "../assets/" if page else "assets/" }}images/favicon/widetile.png">
	<meta name="msapplication-square310x310logo" content="{{ "../assets/" if page else "assets/" }}images/favicon/largetile.png">
	
	<!-- Android Lolipop-->
	<meta name="theme-color" content="#000">
	<link rel="canonical" href="{{ host }}/{{ page }}">
	
	<!-- [ Includes Main Styles ]-->
	{% include "../includes/styles.html" %}

{% endblock %}