block vars
	- var page;

doctype html
html(lang="en")
	head
		title #{pages[page].title}
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		
		block metatags
			include /includes/metatags

		block styles
			include /includes/styles
	body
		main.main
			.container
				block content

		block scripts
			include /includes/scripts

		block analytics
			include /includes/analytics
