doctype html
html(lang="en")
	head
		title Simple Boilerplate
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="./assets/css/main.css")
	body
		main.main
			.container
				block content
		include ./includes/scripts
