extends /layouts/default

block vars
	- var page = "home"

block content
	section.content-section
		h1.title
			| Simple Boilerplate
		div.row
			div.col-3
				| First Col!
			div.col-3
				| Second Col!
			div.col-3
				| Third Col!
