// -------------------------
// Header - Layout
// -------------------------

.main-header {
	& {
		background: tertiary-color;
		clear: fix;
		padding: convertpxtorem(base-space) 0;
	}

	> .logo {}
	> .navigation {}
}
