script.
	!function(s,i,m,p,l,e){s.GoogleAnalyticsObject=m;s[m]||(s[m]=function(){
	(s[m].q=s[m].q||[]).push(arguments)});s[m].l=+new Date;l=i.createElement(p);
	e=i.getElementsByTagName(p)[0];l.src='//www.google-analytics.com/analytics.js';
	e.parentNode.insertBefore(l,e)}(window,document,'ga','script');
	ga('create', '#{analyticsCode}', 'auto');
	ga('send', 'pageview');
