{% block variables %}

	{% set host = "http://localhost:3000" %}
	{% set assets = "assets/" %}
	{% set page = "" %}

	{% set title = "Home page" %}
	{% set description = "Lorem ipsum dolor sit amet, consectetur." %}
	{% set keywords = "lorem, ipsum, dolor" %}

{% endblock %}

<!DOCTYPE html><!--[if IE 8]><html class="ie8" lang="pt-br"><![endif]-->
<!--[if IE 9]><html lang="pt-br" class="ie9"><![endif]-->
<!--[if !IE]><!-->
<html lang="pt-br"><!--<![endif]-->

	<head>

		<title>{{ title }} | Simple Boilerplate</title>

		<!-- [ Includes Head ]-->
		{% include "includes/metatags.html" %}

		<!-- [ Includes Main Styles ]-->
		{% include "includes/styles.html" %}

	</head>

<body>

	<!-- [ Includes Header ]-->
	{% include "includes/header.html" %}

		<!-- [ Includes Content ]-->
		{% block content %}{% endblock %}

	<!-- [ Includes Footer ]-->
	{% include "includes/footer.html" %}

	<!-- [ Includes Main Javascript ]-->
	{% include "includes/scripts.html" %}

</body>
</html>
