// -------------------------
// Base
// -------------------------

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: colorText;
	fs: responsive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: colorHeading;
}

a {
	color: colorLink;
	transition: color .6s;

	&:hover,
	&:active {
		color: lighten(colorLink, 5%);
	}
}

img {
	max-width: 100%;
}
