// -------------------------
// Helpers
// -------------------------

.-unmargin {
	margin: 0!important;
}

.-align-center {
	text-align: center!important;
}

.-align-left {
	text-align: left!important;
}

.-align-right {
	text-align: right!important;
}

.-to-right {
	float: right!important;
}

.-to-left {
	float: left!important;
}
